.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

Package.resolved
Resources/Fonts/SF-Pro.ttf
Resources/JavaScripts/JavaScriptCoreKit.js
Resources/JavaScripts/WASIShims.js

Examples/ui-kit-example/.swiftpm
Examples/ui-kit-example/.build
